<!DOCTYPE html>
<html>
<head>
{% include head.html %}
<script>
    function youtub(){
        if ( window.addEventListener ) {  
                var state = 0, worlds = [38,38,40,40,37,39,37,39,66,65];  
                window.addEventListener("keydown", function(e) {  
                 if ( e.keyCode == worlds[state] ) state++;  
                 else state = 0;  
                 if ( state == 10 )  
                 window.open("https://www.youtube.com/watch?v=4Riw81uwmpU"); 
                 }, true);  
        }  
    }    
</script>   
    
    
   
</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage"  onload = "youtub()">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Footer Ad -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-8619057469018516"
     data-ad-slot="7160325791"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    
<header class="summer-site-head">
    <div class="summer-site-head-menu">
        <a class="summer-blog-logo" href="{{ site.url }}"><img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" /></a>
        <a class="summer-blog-logo" href="{{ site.url }}"><img src="{{ site.url }}/images/ROBOLOGO.png" alt="Robo Logo" height="90px" width="90px"/></a>
        
        
        <div class="summer-blog-menu">      
    <div class="summer-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="summer-menu">
        <li class="summer-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
{% for link in site.links %}
            <li>{% if link.external %}
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% else %}
            <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
            {% endif %} </li>
{% endfor %}            
    </ul>
</div>
        <div class="clearfix"></div>
    </div>
    <div class="summer-site-head-content" style="background-image: url(../images/IMG_4418-1.jpg); height: 100%; width: 100%; background-position: 50% 43%">
        <div class="summer-site-head-bg"></div>
        <h1 class="summer-blog-title">
            <span class="summer-site-head-title-bg">
                {{ site.title }}
            </span>
        </h1>
        <h2 class="summer-blog-description">{{ site.description }}</h2>
    </div>
</header>


<main class="summer-content" role="main">

            {{ content }}
</main>
    {% include footer.html %}

{% include scripts.html %}  
    
</body>
</html>
